# Node modules
node_modules/

# Hardhat files
cache/
artifacts/

# Truffle files
build/

# Coverage files
coverage/

# dotenv environment variables file
.env

# MacOS files
.DS_Store

# Logs
logs/
*.log

# npm debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE specific files
.idea/
.vscode/


# Remix IDE files
*.code-workspace
**/artifacts/**


# Ignore Yarn specific directories
.yarn/
.pnp/

# Ignore Yarn error logs
yarn-error.log

# Ignore packages directory if it's unintended (e.g., in a monorepo)
packages/

# Optionally, ignore yarn.lock (use with caution)
# yarn.lock
